<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="default">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="core">
            <file>./tests/SiasnClientTest.php</file>
            <file>./tests/ConfigTest.php</file>
            <file>./tests/CacheTest.php</file>
            <file>./tests/RestRequestTest.php</file>
        </testsuite>
        <testsuite name="resource">
            <directory>./tests/Resources</directory>
        </testsuite>
    </testsuites>
</phpunit>
