<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="default">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="SiasnClient Suite">
            <file>./tests/SiasnClientTest.php</file>
        </testsuite>
        <testsuite name="PNS Suite">
            <file>./tests/Resources/PNSTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
